.title{

  background-color: green;
  margin-top: -200px;
}

.registerBox{

margin-top: 200px;
}

.without-radius{
  border-radius: 0px !important;
}

.full-height{
  height: 300px;
}
.full-width{
  width: 100%;
}